version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.0

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          name: check path
          mapping: |
            path_a/.* run-path-a true
            path_b/.* run-path-b true
          # Default base-revision is main, but in this case
          # that would cause both workflows to run each time
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue-config.yml