version: 2.1

setup: true

jobs:
  set-params-and-continue:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: 
          name: Prepare Continuation Data
          command: |
                    mkdir -p /tmp/circleci

                    jq -n \
                      --arg continuation "$CIRCLE_CONTINUATION_KEY" \
                      --arg params {"testing":true} \
                      --slurpfile config ".circleci/continued_config.yml" \
                      '{"continuation-key": $continuation, "configuration": $config|join("\n"), "parameters": $params|fromjson}' > /tmp/circleci/continue_post.json
      - run: 
          name: Continue the Pipeline
          command: |
                    curl --request POST \
                      --url https://circleci.com/api/v2/pipeline/continue \
                      --header 'content-type: application/json' \
                      --data @/tmp/circleci/continue_post.json

workflows:
  setup-workflow:
    jobs:
      - set-params-and-continue