version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@1.0.0

executors:
    go:
        docker:
            - image: cimg/go:1.17.3

jobs:
  generate-config:
    executor: go
    steps:
      - checkout
      - continuation/continue:
          configuration_path: .circleci/continued_config.yml
          parameters: '{"run_workflow": true}'

workflows:
  setup-workflow:
    jobs:
      - generate-config
