version: 2.1

# this designates this configuration file as a setup workflow configuration
setup: true 

# the continuation orb is required in order to use a setup workflow
orbs:
  continuation: circleci/continuation@0.1.2

jobs:
  setup:
    docker:
      - image: cimg/python:3.9.4
    steps:
      - checkout # checkout code
      - run:
          name: Set up pyyaml
          command: |
            pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            cd config_generators
            python generate-config.py > generated_config.yml 
      - persist_to_workspace:
          root: .
          paths:
            - config_generators/generated_config.yml

workflows:
  setup:
    jobs:
      - setup
      - continuation/continue:
          requires:
            - setup
          pre-steps: 
            - attach_workspace:
                at: .
          configuration_path: config_generators/generated_config.yml
