version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.2.0
  path-filtering: circleci/path-filtering@0.1.0

jobs:
  set-params-and-continue:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: |
          jq '. + {"testing": true}' /tmp/pipeline-parameters.json
      - continuation/continue:
          configuration_path: .circleci/continue-config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup-workflow:
    jobs:
      - set-params-and-continue
